body { 
	padding-top: 60px;
	/* overflow: hidden; */
}

@media screen {
	#reponse {
	font-size: 200%;
	font-weight: bold;	
}

	#remarque {
		font-size: 17px;
		font-weight: normal;
	}
}

.col-md-2, .col-md-4, .col-md-3
{
    padding-bottom:30px;
}

.form-row, .form
{
    padding-bottom:5px;
}
