body { 
	padding-top: 60px;
	/* overflow: hidden; */
}

@media screen {
	#reponse {
	font-size: 150%;
	font-weight: bold;	
}

	#remarque {
		font-size: 17px;
		font-weight: normal;
	}
}

